<!--
  Generated template for the MenuInteractivesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Interactives</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div align ='center'>
    <img src='assets/4pics/{{source1}}1.jpg' width='150' height='150' />
    <img src='assets/4pics/{{source2}}2.jpg' width='150' height='150' /><br />
    <img src='assets/4pics/{{source3}}3.jpg' width='150' height='150' />
    <img src='assets/4pics/{{source4}}4.jpg' width='150' height='150' />
    <div >
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[0]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[1]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[2]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[3]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[4]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[5]}}' maxlength='1' size='1'>
    </div>
    <div style ='margin-top:5px'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[6]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[7]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[8]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[9]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[10]}}' maxlength='1' size='1'>
        <input class='characters' readonly type='text' (click) = "add($event)" value ='{{this.answerboxes[11]}}' maxlength='1' size='1'>
    </div>
    <div *ngIf = "this.answers[this.level] == 'bully'">
      <p style ='text-align:center'>a person who habitually seeks to harm or intimidate</p>
    </div>
    <div *ngIf = "this.answers[this.level] == 'crying'">
    <p style ='text-align:center'>shed tears, typically as an expression of distress, pain, or sorrow</p>
    </div>
    <div *ngIf = "this.answers[this.level] == 'friends'">
    <p style ='text-align:center'>a person whom one knows and with whom one has a bond of mutual affection</p>
    </div>
    <div *ngIf = "this.answers[this.level] == 'greedy'">
    <p style ='text-align:center'>having or showing an intense and selfish desire</p>
    </div>
    <div *ngIf = "this.answers[this.level] == 'lonely'">
    <p style ='text-align:center'>without companions; solitary</p>
    </div>
        <div *ngIf = "this.answers[this.level] == 'playing'">
    <p style ='text-align:center'>engage in activity for enjoyment and recreation</p>
    </div>
        <div *ngIf = "this.answers[this.level] == 'shout'">
    <p style ='text-align:center'>say something very loudly</p>
    </div>
        <div *ngIf = "this.answers[this.level] == 'study'">
    <p style ='text-align:center'>the devotion of time and attention to acquiring knowledge</p>
    </div>
        <div *ngIf = "this.answers[this.level] == 'taunt'">
    <p style ='text-align:center'>provoke or challenge</p>
    </div>
        <div *ngIf = "this.answers[this.level] == 'tease'">
    <p style ='text-align:center'>make fun of or attempt to provoke in a playful way</p>
    </div>
    <div *ngIf = "this.answers[this.level] == 'bystander'">
      <p style ='text-align:center' >a person who is present at an event or incident but does not take part.</p>
    </div>
    <hr/>
    <div>
    <input id ='userInput' style ='padding:10px;text-align:center;height:50px;font-size:18px' type ='text' readonly value ='' placeholder ='Input your answer'/>
    <input maxlength = '1' size = '1' style ='width:50px;text-align:center;height:50px;font-size:18px' type ='text' readonly value ='<' (click) ='delete($event)'/>
    </div>
    <ion-row>
      <ion-col>
      <button ion-button style ='margin-top:15px' block (click) ="submitAnswer()">Submit your answer</button>
      </ion-col>
      <ion-col>
          <button ion-button style ='margin-top:15px' block (click) ="showHelp()">Help</button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
