<!--
  Generated template for the CyberBullyingScenarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding fullscreen class='bg'>
  <div>
    <video controls width="100%" [src]="videoSrc" (ended)="vidEnded()" controls autoplay>
    </video>
    <!-- scenario 1 -->
    <div *ngIf="ended">
      <button ion-button block (click)="SceneOneCorrect()">Screenshot and tell your parents</button>
      <button ion-button block (click)="SceneOneWrong()">Reply something offensive</button>
      <div style='margin-top:50px'>
        <div class='speech-bubble-right'>
          <p>If you were on this situation what will you do?</p>
        </div>
        <img src='assets/imgs/avatar/1.png' width='150' height='150' align='right'>
      </div>
    </div>
    <div *ngIf="correct" style='margin-top:10px'>
      <button ion-button block (click)="scenarioTwoStart()">Go to next scenario</button>
      <style>
        .green:after {
          border-top-color: green
        }

      </style>
      <div class='speech-bubble-right green' style='background:green;margin-top:15px'>
        <h5>Correct!</h5>
        <p>Don't let your emotions rule you, let your parents or someone else know about the situation to help you.</p>
        <b style ='color:white'>Other advice</b>
        <p>If you don't have any parents you can ask someone like your guardian, or your teacher</p>
      </div>
      <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
    </div>
    <div *ngIf="wrong" style='margin-top:10px'>
      <button ion-button block (click)="scenarioTwoStart()">Go to next scenario</button>
      <style>.red:after {
        border-top-color: red;
      }
    </style>
      <div class='speech-bubble-right red' style='background:red;margin-top:15px'>
        <h5>Wrong!</h5>
        <p>Don't let your emotions rule you, let your parents or someone else know about the situation to help you.</p>
        <b style ='color:white'>Other advice</b>
        <p>If you don't have any parents you can ask someone like your guardian, or your teacher</p>
      </div>
      <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
    </div>
    <!-- end scenario -->
    <!-- Scenario 2 -->
    <div *ngIf="ended1">
      <button ion-button block (click)="SceneTwoWrong()">Reply on the bullies post</button>
      <button ion-button block (click)="SceneTwoCorrect()">Screenshot and tell your teacher</button>
      <div style='margin-top:50px'>
        <div class='speech-bubble-right'>
          <p>If you were on this situation what will you do?</p>
        </div>
        <img src='assets/imgs/avatar/1.png' width='150' height='150' align='right'>
      </div>
    </div>
    <div *ngIf="correct1" style='margin-top:10px'>
      <button ion-button block (click)="scenarioThreeStart()">Go to next scenario</button>
      <style>
        .green:after {
          border-top-color: green
        }

      </style>
      <div class='speech-bubble-right green' style='background:green;margin-top:15px'>
        <h5>Correct!</h5>
        <p>Don't let your emotions rule you, let your parents or someone else know about the situation to help you.</p>
        <b style ='color:white'>Other advice</b>
        <p>You have the right to block that or report them to social media so they won't insult you next time.</p>
        <p>If you don't know how to block a person. Ask your parents or your older brother or sister (if you have one)</p>
        <p>Remember, you don't need to feel sorry for blocking people that you think is toxic. Your mental health is more important</p>
      </div>
      <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
    </div>
    <div *ngIf="wrong1" style='margin-top:10px'>
      <button ion-button block (click)="scenarioThreeStart()">Go to next scenario</button>
      <style>
        .red:after {
          border-top-color: red
        }

      </style>
      <div class='speech-bubble-right red' style='background:red;margin-top:15px'>
        <h5>Wrong!</h5>
        <p>Don't let your emotions rule you, let your parents or someone else know about the situation to help you.</p>
        <b style ='color:white'>Other advice</b>
        <p>You have the right to block that or report them to social media so they won't insult you next time.</p>
        <p>If you don't know how to block a person. Ask your parents or your older brother or sister (if you have one)</p>
        <p>Remember, you don't need to feel sorry for blocking people that you think is toxic. Your mental health is more important</p>
        <p></p>
      </div>
      <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
    </div>
  </div>
  <!-- End scenario 2-->

  <!--Scenario 3 -->
  <div *ngIf="ended2">
    <button ion-button block (click)="gohome()">Go to main menu</button>
    <style>
      .green:after {
        border-top-color: green
      }

    </style>
    <div class='speech-bubble-right green' style='background:green;margin-top:15px'>
      <h5>Congratulations</h5>
      <p>Don't let your emotions rule you, let your parents or someone else know about the situation to help you.</p>
      <b style ='color:white'>Other advice</b>
      <p>What you did is right in this scenario</p>
      <p>Congratulations for finishing all the scenario in this topic. We hope you learn more on how to avoid this in
        real life cases.</p>
    </div>
    <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
  </div>
  <!-- End scenario -->

</ion-content>
