<!--
  Generated template for the SocialBullyingScenarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <video controls width="100%" [src]="videoSrc" (ended)="vidEnded()" controls autoplay>
    </video>
    <!-- scenario 1 -->
    <div *ngIf="ended1">
      <button ion-button block (click)="SceneOneWrong()">Keep it to yourself</button>
      <button ion-button block (click)="SceneOneCorrect()">Tell someone you trust</button>
      <div style='margin-top:50px'>
          <div class='speech-bubble-right'>
            <p>If you were on this situation what will you do?</p>
          </div>
          <img src='assets/imgs/avatar/1.png' width='150' height='150' align='right'>
        </div>
    </div>
    <div *ngIf="correct1" style='margin-top:10px'>
      <button ion-button (click)="gohome()" block>Go to main menu</button>
      <style>
        .green:after {
          border-top-color: green
        }

      </style>
      <div class='speech-bubble-right green' style='background:green;margin-top:15px'>
        <h5>Congratulations</h5>
        <p>Keeping it to yourself will not solve anything. It will only lead to making you feel bad</p>
        <p>Congratulations for finishing all the scenario in this topic. We hope you learn more on how to avoid this in
          real life cases.</p>
      </div>
      <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
    </div>
    <div *ngIf="wrong1" style='margin-top:10px'>
      <button ion-button block (click)="gohome()">Go to main menu</button>
      <style>
          .red:after {
            border-top-color: red
          }
        </style>
        <div class='speech-bubble-right red' style='background:red;margin-top:15px'>
          <h5>Wrong!</h5>
          <p>Keeping it to yourself will not solve anything. It will only lead to making you feel bad</p>
        </div>
        <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
    </div>
    <!-- end scenario -->
    <!-- Scenario 2 -->
    <div *ngIf="ended">
      <button ion-button block (click)="SceneTwoCorrect()">Trust your friend</button>
      <button ion-button block (click)="SceneTwoWrong()">Doubt your friend</button>
      <div style='margin-top:50px'>
          <div class='speech-bubble-right'>
            <p>If you were on this situation what will you do?</p>
          </div>
          <img src='assets/imgs/avatar/1.png' width='150' height='150' align='right'>
        </div>
    </div>
    <div *ngIf="correct" style='margin-top:10px'>
      <button ion-button block (click)="scenarioTwoStart()">Go to next Scenario</button>
      <style>
          .green:after {
            border-top-color: green
          }
  
        </style>
        <div class='speech-bubble-right green' style='background:green;margin-top:15px'>
          <h5>Correct!</h5>
          <p>Doubting someone you truly care about will make things worse. It is better if you talked to your friend about it</p>
        </div>
        <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
      
    </div>
    <div *ngIf="wrong" style='margin-top:10px'>
      <button ion-button block (click)="scenarioTwoStart()">Go to next scenario</button>
      <style>
          .red:after {
            border-top-color: red
          }
        </style>
        <div class='speech-bubble-right red' style='background:red;margin-top:15px'>
          <h5>Wrong!</h5>
          <p>Doubting someone you truly care about will make things worse. It is better if you talked to your friend about it.</p>
        </div>
        <img src='assets/imgs/avatar/1.png' width='150px' height='150px' align='right'>
    </div>
    <!-- End scenario 2-->
  </div>
</ion-content>
